<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="HierarchicalClustering Category"
            id="hierarchical-clustering.commands.category">
      </category>
      <command
            name="HierarchicalClustering Command"
            categoryId="hierarchical-clustering.commands.category"
            id="hierarchical-clustering.commands.hierarchicalClusteringCommand">
      </command>
      <command
            name="RemoveUselessClasses Command"
            categoryId="hierarchical-clustering.commands.category"
            id="hierarchical-clustering.commands.removeUselessClassesCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="hierarchical-clustering.commands.hierarchicalClusteringCommand"
            class="hierarchicalclustering.handlers.HierarchicalClusteringHandler">
      </handler>
      <handler
            commandId="hierarchical-clustering.commands.removeUselessClassesCommand"
            class="hierarchicalclustering.handlers.RemoveUselessClassesHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="hierarchical-clustering.commands.hierarchicalClusteringCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="hierarchical-clustering.commands.removeUselessClassesCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Hierarchical Clustering"
               mnemonic="M"
               id="hierarchical-clustering.menus.hierarchicalClustering">
            <command
                  commandId="hierarchical-clustering.commands.hierarchicalClusteringCommand"
                  mnemonic="H"
                  id="hierarchical-clustering.menus.hierarchicalClusteringCommand">
            </command>
            <command
                  commandId="hierarchical-clustering.commands.removeUselessClassesCommand"
                  mnemonic="R"
                  id="hierarchical-clustering.menus.removeUselessClassesCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="hierarchical-clustering.toolbars.sampleToolbar">
            <command
                  commandId="hierarchical-clustering.commands.hierarchicalClusteringCommand"
                  icon="icons/sample.gif"
                  tooltip="Calculate clustering"
                  id="hierarchical-clustering.toolbars.hierarchicalClusteringCommand">
            </command>
            <command
                  commandId="hierarchical-clustering.commands.removeUselessClassesCommand"
                  icon="icons/sample.gif"
                  tooltip="Remove useless Classes"
                  id="hierarchical-clustering.toolbars.removeUselessClassesCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
